<?xml version="1.0" encoding="UTF-8"?>
<Configuration scan="true">
    <property name="MovieBookingAppLOGS" value="./logs" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern class="ch.qos.logback.classic.PatternLayout">
				%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MovieBookingAppLOGS}/movie-booking-app-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${MovieBookingAppLOGS}/archived/movie-booking-app-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

	<Kafka name="kafka" topic="moviebookingapplogs">
		<PatternLayout pattern="%date %message" />
		<Property name="bootstrap.servers">kafka:29093</Property>
	</Kafka>
	<Async name="Async">
		<AppenderRef ref="kafka" />
	</Async>

	<!-- LOG "com.moviebookingapp" at TRACE level -->
	<Logger name="com.moviebookingapp" level="TRACE"
		additivity="false">
		<AppenderRef ref="kafka" />
		<Appender-ref ref="STDOUT" />
		<appender-ref ref="RollingFile" />
	</Logger>

	<!-- LOG everything else at INFO level -->
	<Root level="INFO">
		<appender-ref ref="STDOUT" />
	</Root>

	<Logger name="org.apache.kafka" level="WARN" />

</Configuration>
